Beaker==1.6.4
BeautifulSoup==3.2.1
EasyProcess==0.1.6
Fabric==1.9.0
Mako==0.9.1
MarkupSafe==0.23
PyVirtualDisplay==0.1.5
SQLAlchemy==0.9.4
Scrapy==0.22.2
Twisted==14.0.0
anyjson==0.3.3
autopy==0.51
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
bottle==0.12.7
cffi==0.8.2
circus==0.10.0
circus-web==0.4.1
cryptography==0.4
cssselect==0.9.1
ecdsa==0.11
fabric-virtualenv==0.2.1
gevent==1.0.1
gevent-socketio==0.3.6
gevent-websocket==0.9.3
goscons==1.0
greenlet==0.4.2
iowait==0.2
lxml==3.3.5
paramiko==1.14.0
psutil==1.2.0
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pycrypto==2.6.1
pymongo==2.7.1
pyquery==1.2.8
pyrailgun==0.25
python-qt==0.50
pyzmq==14.3.0
queuelib==1.1.1
requests==2.3.0
scons==2.3.0
scrapemark==0.9
selenium==2.42.1
service-identity==0.2
six==1.6.1
spynner==2.17.dev0
tornado==3.2.1
w3lib==1.5
webscraping==1.4
wsgiref==0.1.2
zope.interface==4.1.1
